<script>
  $(function(){
    $("#comments_select").change(function(){
      $('#comments_show').submit()
    })
     $(".edit_comment").click(function(){
      $(this).parent().find('.update_comment').removeClass("invisible")
      $(this).addClass('invisible')
    })
  })
</script>

<form action="<%= post_path(@post) %>" method='get' id='comments_show'>
  <div class='field'>
    <select name='comments_status' class='btn btn-primary' id='comments_select'>
      <option <%= @comment_status == 'published' ? 'selected' : '' %> >Published</option>
      <option <%= @comment_status == 'unpublished' ? 'selected' : '' %> >Unpublished</option>
    </select> 
  </div>
</form>

<% @comments.each do |comment| %>
  <div class='comment row'>
    <div class='col-sm-2'>
      <%= render "authors/avatar", author: comment.author %>
    </div>
    <div class='col-sm-10'>
        <div>
          <%= comment.body %>
        </div>
        <p>
          <b><%= comment.author.email || comment.author.full_name %></b>
        </p>
        <div>
          <%if comment.created_at < comment.updated_at%><b>edited</b> |<%end%>
          <% less_than_hour = comment.created_at >= 1.hour.ago %>
          <% time = distance_of_time_in_words(comment.created_at, Time.now)%>
        <i> created  <%= time  %> ago</i>
        </div>
        <% if logged_in? && current_author.id == comment.author.id && less_than_hour %>   
          <button class='btn btn-warning edit_comment'>Edit Comment</button>
          <div class='cont add_comment update_comment invisible'>
            <h4>Edit Comment</h4>
            <%= render 'comment_form', comment: comment%>
          </div>
          <% if comment.status == 'unpublished' %>
            <div class='btn btn-primary'>
              <%= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post %>
            </div>
          <% end %>
          <div class='btn btn-danger'>
            <%= link_to 'Destroy Comment', [comment.post, comment],
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
 </div>
<% end %>
