<div class='cont ow_x'>
  <p id="notice"><%= notice %></p>

  <h2>Posts</h2>

  <table class="table table-hover">
    <tbody>
      <% @posts.each do |post| %>
        <tr>          
          <td><p><b><%= post.title %></b></p></td>
          <td class='none'><p><%= post.author.full_name %></p></td>
          <td class='none'><p><%= post.content %></p></td>
          <td class='none'><img src='<%= post.image %>' width='100px'></td>
          <td><div class='btn btn-primary'><%= link_to 'Show', post %></div></td>
       </tr>
      <% end %>
    </tbody>
  </table>
</div>
