<script>
  $(function(){
    $(".clickable").click(function(e){
        var url = $(this).find('a').attr("href")
        $(location).attr('href',url);
    });
  })
</script>
<div class='container container_index'>
  <%= render 'posts/search_form'%>
  <p id="notice"><%= notice %></p>
    <% @posts.each do |post| %> 
      <div class='row clickable'>       
        <div class= "col-sm-2 column"><%= link_to "#{post.title} ", post, class: "link"%></div>
        <div class='col-sm-3 column'><%= post.author.email || post.author.full_name%>
        <%= render "authors/avatar", author: post.author %></div>
        <div class='col-sm-7 column'><%= post.text[0..500] + '...' %></div>
      </div>
    <% end %>

</div>