<div class='cont show_post'>
  <div>
    <h4>Title:</h4>
    <p><%= @post.title %></p>
  </div>
  <div>
    <img src='<%= @post.image %>' width='200px'/>
  </div>
  <div>
    <h4>Description:</h4>
    <p><%= @post.name %></p>
  </div>
  <div>
    <h4>Content:</h4>
    <p><%= @post.content %></p>
  </div>
  <div>
    <h4>Author:</h4>
    <p><%= @post.author.email || @post.author.full_name %></p>
  </div>
  <div style="background: #fef7ff;">
    <i>  &#9997; <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago</i> &nbsp; &nbsp;
    <i> &#128065; <%= @post.views_count %> </i> &nbsp; &nbsp;
    <i> &#128488;	<%= @post.comments_count || 0 %> <%= @post.comments_count != 1 ? ' comments' : ' comment' %></i>  
  </div>
  <br/>
    <%if logged_in? && current_author.id == @post.author.id %>
      <div class='btn btn-warning'><%= link_to 'Edit', edit_post_path(@post) %></div> 
    <%end%>
  <div class='btn btn-primary'><%= link_to 'Back', posts_path %></div>
</div>
<div class='cont add_comment'>
  <% if logged_in? %>   
    <h4>New Comment</h4>
    <%= render 'comment_form' %>
  <% else %>
    <h6>Please, <%= link_to "Log in", '/login', method: :get%> or <%= link_to "Sign Up", '/authors/new'%> to leave a comment</h6>
  <% end %>
</div>
<div class='cont comment_list'>
  <h4>Comments</h4>
 
  <%= render 'comments_list' %>
</div>
