<div class='cont show_post'>
  <%= render 'posts/modal'%>
  <div>
    <h4><b><%= @post.title %></b></h4>
  </div>
  <div>
    <img src='<%= @post.image %>' width='200px'/>
  </div>
  <div>
    <h5 class='h5_c'><%= @post.name %></h5>
  </div>
  <div>
    <p><%= @post.content %></p>
  </div><br/>
  <div class='show_post_author'>
    <%= render "authors/avatar", author: @post.author %>
    <i><b><%= @post.author.email || @post.author.full_name %></b></i>
  </div><br/>
  <div style="background: #fef7ff;" class='row'>
    <div class='col-sm-2'><i> <i class='fa fa-clock-o'></i> &nbsp;<%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago</i></div>
    <div class='col-sm-2'><i><i class='fa fa-eye'></i> &nbsp; <%= @post.views_count %> </i></div>
    <div class='col-sm-2'><i><i class='fa fa-comments'></i> &nbsp;	<%= @post.comments_count || 0 %> <%= @post.comments_count != 1 ? ' comments' : ' comment' %></i></div>  
  </div>
  <br/>
    <%if logged_in? && current_author.id == @post.author.id %>
      <div class='btn btn-warning'><%= link_to 'Edit', edit_post_path(@post) %></div> 
      <div class='btn btn-danger'><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <%end%>
  <div class='btn btn-primary'><%= link_to 'Back', posts_path %></div>
</div>
<div class='cont add_comment'>
  <br/>
  <% if logged_in? %>   
    <h4>New Comment</h4>
    <%= render 'posts/comment_form', parent_comment: nil %>
  <% else %>
    <h6>Please, <%= link_to "Log in", '/login', method: :get%> or <%= link_to "Sign Up", '/authors/new'%> to leave a comment</h6>
  <% end %>
</div>
<div class='cont comment_list'>
  <br/>
  <h4>Comments</h4>
  <br/> 
  <%= render 'posts/comments_list' %>
</div>
