<div class='cont show_post'>
  <p id="notice"><%= notice %></p>

  <div>
    <h4>Title:</h4>
    <p><%= @post.title %></p>
  </div>
  <div>
    <img src='<%= @post.image %>' width='200px'/>
  </div>
  <div>
    <h4>Description:</h4>
    <p><%= @post.name %></p>
  </div>
  <div>
    <h4>Content:</h4>
    <p><%= @post.content %></p>
  </div>

  <br/>
  <div class='btn btn-primary'><%= link_to 'Edit', edit_post_path(@post) %></div> 
  <div class='btn btn-primary'><%= link_to 'Back', posts_path %></div>
</div>