<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid header">
      <div class="container">
        <div class='left'>Super amazing blog </div>
        <% if logged_in? %>        
          <div class='right'><i class='fa fa-pencil'></i> <%= link_to 'New Post', new_post_path %> </div>
          <div class='right'><i class='fa fa-home'></i> <%= link_to 'Home', posts_path %></div>
          <div class='right'><i class='fa fa-sign-out'></i><%= link_to 'Log out', logout_path, method: :delete %></div>
          <div class='right'><%= link_to "#{current_author.email}", '/authors/profile', method: :get %></div>
        <% else %>
          <div class='right'>|<%= link_to "Log in", '/login', method: :get%></div>
          <div class='right'><i class='fa fa-sign-in'></i><%= link_to "Sign Up", '/authors/new', method: :get%></div>&nbsp;
      <%end%>        
      </div>
    </div>
      <div class='cont'>
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
      </div>
    <%= yield %>
  </body>
</html>
